
/* @group generic */

* {
	font-size : 10pt;
	font-family : Arial, Helvetica, Sans-Serif;
	color : black;
}

/* @end */

        

#userheader {
	text-align : center;
	padding: 5px;
	border-bottom: 1px solid #000;
	background-color: #9DCCE6;
	font-weight: bold;
}	

.user {
	background-repeat : no-repeat;
	padding: 5px 5px 5px 30px;
	background-position: 8px 4px;
}


#video {
	position : absolute;
	top : -80px;
	left : 0px;
	width: 800px;
	height: 600px;
	background-color : white;
	pointer-events: none;
	
}

#chathalf {
	position : absolute;
	top : 10px;
	left : 810px;
	height: 600px;
	width: 300px;
}

.wrapper {
	background-color : blue;
	z-index:10;
	position:absolute;
	top:0;
	left:0;
	width:800px;
	height:600px;
	opacity: 0.01;
}

#whiteblock {
	position : absolute;
	top : 500px;
	left : 0px;
	height: 100px;
	width: 800px;
	background-color : white;
	z-index:10;
}

#dummy {
	display:none;
}
#chatty {
	display:none;
}


iframe {pointer-events: none;}

#chat {
	position : absolute;
	top : 0px;
	left : 0px;
	border: 1px solid #000;
	width: 288px;
	height: 500px;
	background-color : #f4f4f4;
	overflow-y:auto;

	padding: 5px;
}


#usertext {
	position : absolute;
	top : 515px;
	left : 0px;
	width: 235px;
	height: 35px;
	background-color : white;
	padding: 5px;
}

#submitchat {
	position : absolute;
	top : 515px;
	left : 250px;
	width: 20px;
}

#finalsubmit {
	position : absolute;
	border: 1px solid #000;
	background-color : #f4f4f4;
	bottom : 10px;
	right : 10px;
	width: 150px;
	padding: 5px;

}